.header {  
  padding: 38px 0;
  &-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      display: flex;
    }
  } 
}

@media (min-widht: $breakpoint-medium) {
  .header {
    padding: 0;
  }
}
