.icon {
    position: relative;
    width: 53px;
    height: 52px;

    &-logo {
        font-size: 37px;
        color: $global-secondary-color;
    }
    &-logo-color {
        color: #4d5664;
        opacity: 0.4;
    }

    &-logo-footer {
        font-size: 27px;
        @media (min-width: $breakpoint-xsmall) {
            font-size: 37px;
        }
    }
}
.icon-el {
    position: absolute;
    font-size: 37px;
    color: #64a4d7;
    top: 5px;
    

    &-bg {
        position: absolute;
        color: #eef0f0;
        font-size: 35px;
        top: 10px;
        right: 5px;
        bottom: 0px;
        z-index: -1;
    }
    &-bg-dark {
        color: #d4d4d4;
    }
}