@mixin button($button-padding: 21px 25px, $button-bg-color: $global-primary-color, $button-color: #fff) {
    padding: $button-padding;
    background-color: $button-bg-color;
    color: $button-color;
}