$navbar-color:              #2d394c;
$navbar-color-primary:      #4d5664;
$navbar-font-size:          15px;
$navbar-padding:            10px 15px;
$navbar-background:         $global-background;    
$navbar-border:             1px solid transparent;

$navbar-hover-background:   $global-secondary-color;    

.navbar {

  flex-wrap: wrap;
  border-right: 1px solid rgba($color: #333333, $alpha: 0.5);
  font-size: 12px;

  .nav-item {
    margin: 0 2px;

    .nav-link {
      padding: 10px 15px;
      color: $navbar-color-primary;
      border-radius: 5px;
      font-size: 14px;

      &:hover {
        background-color: $global-secondary-color;
      }
    }
  }
  &-nav {
    display: none;
    margin:0 -15px;
    list-style: none;
    .nav-item {
      padding: 15px;
      .nav-link {
        display: inline-block;
        padding: $navbar-padding;
        border: $navbar-border;
        background: $navbar-background;
        color: $navbar-color;
        font-size: $navbar-font-size;
        text-decoration: none;
        &:hover {
          border-radius: 5px;
          background: $navbar-hover-background;
        }
      }
    }
  }
}

#burger{
  display: block;
}
.navbar-mobile {
  display: block;
}

#burger {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  color: white;
  background: linear-gradient(45deg, $global-primary-background 10%, $global-color);;
  font-size: 32px;
  padding: 16px 16px 32px 32px;
  border-radius: 0% 0% 0% 100%;
  transition: 1s;
  cursor: pointer;
}

#quit{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  color: white;
  font-size: 32px;
  padding: 16px;
  display: none;
  cursor: pointer;
}

#menu {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 9;
  flex-direction: column;
  .nav-item {
  padding: 10px 15px;
  .nav-link {
    display: inline-block;
    padding: $navbar-padding;
    color: white;
    font-size: 2em;
    text-decoration: uppercase;
    &:hover {
      border-radius: 5px;
      background: $navbar-hover-background;
    }
  }
  }
}


@media (min-width: $breakpoint-medium){
    .navbar-nav {
      display: flex;  
    }
    #burger{
      display: none;  
    }
    .navbar-mobile {
      display: none;
    }
  }
